@import url("https://fonts.googleapis.com/css?family=Galindo");

#tile {
  background-color: #40444b;
  color: whitesmoke;
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.342);
  border-radius: 30px;
}

#appBarLogo {
  padding: 20px 10px;
  font-family: "Galindo";
}

#delete {
  position: relative;
  left: 270px;
}

#blank {
  height: 0;
  width: 0;
  font: 0px;
  color: transparent;
  background-color: transparent;
  border-style: none;
  position: relative;
  left: -700%;
  top: -700%;
}

#commentTextField fieldset {
  border-radius: 30;
}

/* Referred to https://stackoverflow.com/questions/982054/how-to-center-an-element-in-the-middle-of-the-browser-window */
#loadingIndicator {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginWrapper
{
    height:100vh;
    width:100vw;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #3f51b5, #3baa60);
    background-size: 400% 400%;

    -webkit-animation: Animation 15s ease infinite;
    -moz-animation: Animation 15s ease infinite;
    animation: Animation 15s ease infinite;
}

@-webkit-keyframes Animation {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@-moz-keyframes Animation {
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@keyframes Animation { 
  0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}