#comment {
  margin-top: 5px;
  padding: 10px;
  border-top: 0px;
  border-radius: 10;
  border-left: 0px;
  border-right: 0px;
  background-color: rgb(44, 47, 53);
  color: whitesmoke;
  width: 300px;
}

#delete-comment {
  left: 200px;
}

.commentTextField fieldset {
  border-radius: 10px;
}

#commentTextFieldBox {
  width: 230px;
}
